#movieTimes, #ticketDisplay{
  display:none;
}
#ticketDisplay {
  text-align: center;
  font-family: monospace;
}
.jumbotron {
  background-color: #f2f2f2;
  margin: 20px;
}
.ticketContainer {
}
body{
  background-repeat: no-repeat;
}
img {
  width:100%;
  margin-top:15px;

}
